@font-face {
	font-family: "Ionicons";
	src: url('../fonts/icons/ionicons.eot');
	src: url('../fonts/icons/ionicons.eot?#iefix') format('embedded-opentype'),
	url('../fonts/icons/ionicons.woff') format('woff'),
	url('../fonts/icons/ionicons.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat-Bold';
	src: url('../fonts/MontserratBold/Montserrat-Bold.eot');
	src: url('../fonts/MontserratBold/Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/MontserratBold/Montserrat-Bold.woff') format('woff'),
	url('../fonts/MontserratBold/Montserrat-Bold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'ArabicTypesetting';
	src: url('../fonts/ArabicTypesetting.eot');
	src: url('../fonts/ArabicTypesetting.eot?#iefix') format('embedded-opentype'),
	url('../fonts/ArabicTypesetting.woff') format('woff'),
	url('../fonts/ArabicTypesetting.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

a, a:hover{
	color: #60606e;
}
a:hover, a:active{
	text-decoration: none;
}
ul{
    -webkit-padding-start: 0px;
}
ul li{
    list-style-type: none;
}
body{
    color:#60606e;
    font-family: 'Open Sans', sans-serif;
}
/* TOP */
.top{
    width: 100%;
    background-image: url(../img/main_header_bg.jpg);
	height: 850px;
    background-size: cover;
    position: relative;
    overflow: hidden;
    animation-duration: 1.1s;
}
.top_inner{
	margin: 0 auto;
	max-width: 81em;
	width: 100%;
	padding-top: 3em;
}
.logo a{
	font-family: 'Montserrat-Bold';
	font-size: 1.2em;
	text-transform: uppercase;
}
.menu{
    float: right;
}
.menu .desktop-nav ul li{
    display: inline;
    padding: 0.5em;
    text-transform: uppercase;
    font-family: 'Montserrat-Bold';
    font-size: 0.95em;
}
.menu .desktop-nav ul li a{
    position: relative;
}
.menu .desktop-nav ul li.first_level{
    position: relative;
    padding-bottom: 20px;
}
.menu .desktop-nav ul li a::after{
    content: "";
    opacity: 0;
    width: 50%;
    height: 1px;
    background-color: #60606e;
    position: absolute;
    top: 10px;
    left: 0;
    transition: all 0.3s ease-in-out;
}
.menu .desktop-nav ul li a:hover::after{
    opacity: 1;
    top: -10px;
    transition: all 0.3s ease-in-out;
}
.menu .desktop-nav ul.second_level{
    display: block;
    position: absolute;
    top:35px;
    left: -33px;
    min-width: 200px;
    z-index: 999;
}
.menu .desktop-nav ul.second_level li{
    display: block;
    padding: 1em;
    background-color: #60606e;
    transition: all 0.3s ease-in-out;
    opacity:1;
}
.menu .desktop-nav ul.second_level li:nth-child(even){
    background-color: #50505e;
}
.menu .desktop-nav ul.second_level li:hover{
    background-color: #40404e;
    transition: all 0.3s ease-in-out;
}
.menu .desktop-nav ul.second_level li a{
    color: #fff;
}
.menu .desktop-nav ul.second_level li a:hover::after{
    opacity: 0;
}

/* SLIDER */
.slider{
    height: 400px;
}

/* HISTORY OF AGANCY */
.history_of_agency{
    margin-top: -300px;
}
.history_of_agency img{
    width: 100%;
}
.title{
    font-family: 'Montserrat-Bold';
    font-size: 2em;
    text-transform: uppercase;
    position: relative;
    z-index: 2;
    margin-top: 150px;
    display: inline-block;
}
.history_of_agency .title{
    margin-top: 1em;
}
.title::before{
    content: "";
    position: absolute;
    left: 0;
    top: 18px;
    display: block;
    width: 65px;
    height: 22px;
    background-color: #7beec7;
    z-index: -1;
}
.description{
    font-size: 1.2em;
    line-height: 2;
}
.green_button, .white_button{
    width: 165px;
    height: 50px;
    background-color: #7beec7;
    font-size: 1em;
    font-family: 'Montserrat-Bold';
    text-transform: uppercase;
    line-height: 50px;
    text-align: center;
    float: right;
    margin-top: 20px;
}
.green_button a, .white_button a{
    color: #fff;
    display: block;
    width: 100%;
    height: 100%;
    transition: all 0.3s ease-in-out;
}
.green_button a:hover, .white_button a:hover{
    box-shadow: 0 0 5px 3px rgba(96,96,110,0.1);
    transition: all 0.3s ease-in-out;
}
.white_button{
    background-color: #fff;
    float: none;
}
.white_button a{
    color: #7beec7;
}


/*CHOSE US*/
.choose_us{
    text-align: center;
}
.choose_us img{
    width: 100%;
}
.about{
    padding: 10px 0 100px;
    font-size: 1.1em;
    text-align: center;
}
.advantages{
    text-align: left;
    text-transform: uppercase;
}
.advantages i{
    font-size: 3em;
}
.advantages .subtitle{
    font-family: 'Montserrat-Bold';
    font-size: 1.2em;
}
.advantages ul{
    padding-bottom: 20px;
}
.advantages ul li{
    font-size: 1em;
    color: #999999;
    line-height: 2;
}

/* PORTFOLIO */
.portfolio{
	height:1330px;
    text-align: center;
}
.portfolio_menu{
    text-align: left;
    font-family: 'Montserrat-Bold';
    text-transform: uppercase;
}
.portfolio_menu .category{
    font-size: 2em;
    padding-bottom: 30px;
}
.portfolio_menu ul li{
    display: inline-block;
    font-size: 1em;
    padding: 0.3em 2em 0.3em 0;
    margin-bottom: 1em;
    transition: all 0.3s ease-in-out;
}
.portfolio_menu ul li.active{
    color: #fff;
    background-color: #7beec7;
    padding: 0.3em 2em;
    transition: all 0.3s ease-in-out;
}
.portfolio_item{
	position: absolute;
    overflow: hidden;
}
.portfolio_item a{
    display: inline-block;
    position: relative;
    overflow: hidden;
    text-align: center;
}
.portfolio_item span{
    position: absolute;
    top: 0;
    left: -100%;
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,0.8);
    opacity: 0;
    transition: all 0.2s ease-in-out;
}
.portfolio_item a:hover span{
    opacity: 1;
    left: 0;
    transition: opacity left 0.2s ease-in-out;
}
.portfolio_item span pre{
    font-family: 'Montserrat-Bold';
    text-transform: uppercase;
    font-size: 18px;
    border: none;
    position: absolute;
    top: calc(30% + 25px);
    width: 100%;
    opacity: 0;
    background-color: transparent;
    color: #60606e;
    transition: all 0.5s ease-in-out;
}
.portfolio_item a:hover span pre{
    opacity: 1;
    top: 30%;
    transition: all 0.5s ease-in-out;
    transition-delay:0.3s;
}
.portfolio_item span em{
    text-transform: lowercase;
    position: absolute;
    top: calc(30% + 25px);
    opacity: 0;
    transition: all 0.5s ease-in-out;
    display: inline-block;
    background-color: #7beec7;
    padding: 5px;
    color: #fff;
    font-size: 14px;
    font-style: normal;
    left: calc(50% - 51px);
}
.portfolio_item a:hover span em{
    opacity: 1;
    top: calc(30% + 40px);
    transition: all 0.5s ease-in-out;
    transition-delay:0.4s;
}
.item_1{
	top:0;
	left:15px;
}
.item_2{
	top:0;
	left:305px;
}
.item_3{
	top:0;
	left:595px;
}
.item_4{
	top:200px;
	left:15px;
}
.item_5{
	top:200px;
	left:305px;
}
.item_6{
	top:420px;
	left:595px;
}
.item_7{
	top:490px;
	left:15px;
}
.item_8{
	top:620px;
	left:305px;
}
.item_9{
	top:600px;
	left:595px;
}

/* GREEN SECTION */
.green_section{
	background-color: #7beec7;
    padding: 50px 0;
}
.green_section p{
    font-family: 'Montserrat-Bold';
    font-size: 2em;
    color: #fff;
    text-transform: uppercase;
}
.green_section .button{
    float: left;
    background-color: #fff;
}
.green_section .button a{
    color: #7beec7;
}
.white_section{
    background-color:#fff;
    padding: 1.5em 2em;
}
.white_section .green_button{
    color:#fff;
}
input.green_button{
    transition: all 0.3s ease-in-out;
}
input.green_button:hover{
    box-shadow: 0 0 5px 3px rgba(96,96,110,0.1);
    transition: all 0.3s ease-in-out;
}
.white_section div{
    position: relative;
    display: inline-block;
    width: calc(100% - 180px);
}
.white_section p{
    color: #60606e;
}
.white_section span{
    color: #999;
    font-size: 1.2em;
}
.white_section input[type="email"]{
    border: 1px solid #cdcdcd;
    margin-top: 20px;
    width: 100%;
    height: 50px;
    outline: none;
    padding-left: 18px;
}
.white_section form span.holder{
    text-transform: uppercase;
    font-family: 'Montserrat-Bold';
    font-size: .9em;
    position: absolute;
    top: 36px;
    left: 18px;
    padding: 0 2px;
}
.white_section form span.span_active{
    color: #7beec7;
    font-size: 0.8em;
    top: 13px;
    left: 8px;
    background-color: #fff;
}

/* FOOTER */
footer{
    height: 5em;
}
footer ul{
    margin-bottom: 0;
}
footer ul li{
    display: inline-block;
    text-transform: uppercase;
    color: #9a9a9a;
    font-size: 1em;
}
footer ul.left_menu{
    line-height: 5em;
}
footer ul.left_menu li a{
    position: relative;
    margin: 0 1em;
}
footer ul.left_menu li a::after{
    content: "";
    opacity: 0;
    width: 50%;
    height: 1px;
    background-color: #9a9a9a;
    position: absolute;
    top: 10px;
    left: 0;
    transition: all 0.3s ease-in-out;
}
footer ul.left_menu li a:hover::after{
    opacity: 1;
    top: -10px;
    transition: all 0.3s ease-in-out;
}
footer ul.footer_socials{
    float: right;
}
footer ul.footer_socials li{
    padding-left: 1em;
    line-height: 5em;
}
footer ul.footer_socials li a{
    font-size: 1.5em;
    transition: all ease-in-out 0.4s;
}
footer ul.footer_socials li a:hover{
    color: #7beec7;
    transition: all ease-in-out 0.4s;
}