@font-face {
  font-family: 'ArabicTypesetting';

  src: url('ArabicTypesetting.woff') format('woff');

  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'arabtype';
  
src: url('arabtype.eot');
  
src: url('arabtype.eot?#iefix') format('embedded-opentype');
  
font-weight: normal;
  font-style: normal;
}

