@font-face {

	font-family: 'OpenSans';

	src: url('OpenSans.woff') format('woff'),

	     url('OpenSans.ttf') format('truetype');

	font-weight: normal;
  font-style: normal;

}


@font-face {
  
	font-family: 'open_sans_regular';
	src: url('open_sans_regular.eot');

	src: url('open_sans_regular.eot?#iefix') format('embedded-opentype');
	font-weight: normal;
  font-style: normal;

}

