@font-face {
font-family: 'Montserrat-Bold';
src: url('../fonts/MontserratBold/Montserrat-Bold.eot');
src: url('../fonts/MontserratBold/Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
url('../fonts/MontserratBold/Montserrat-Bold.woff') format('woff'),
url('../fonts/MontserratBold/Montserrat-Bold.ttf') format('truetype');
font-weight: normal;
font-style: normal;

}

